@charset "UTF-8";
@import  "https://fonts.googleapis.com/css?family=Dosis:400,600,700";
* {
  font-family: Dosis;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.logoContainer {
  width: 20%;
  padding: 1%;
  margin-left: 11%;
}

.logoimage {
  max-width: 74%;
  max-height: 100%;
}

header {
  display: flex;
  flex-direction: row;
  -webkit-box-shadow: 0px 7px 14px -8px #706670;
  -moz-box-shadow: 0px 7px 14px -8px #706670;
  box-shadow: 0px 7px 14px -8px #706670;
}
header nav {
  width: 78%;
  display: flex;
  flex-direction: row;
  margin-right: 11%;
}
header nav section {
  width: 50%;
  margin-top: 7%;
  padding-left: 10%;
}
header nav section ul {
  display: flex;
  flex-direction: row;
}
header nav section ul li {
  margin: 1% 4%;
  font-size: 14px;
  font-weight: 400;
}

.cartSection {
  margin-top: 1%;
}
.cartSection ul:nth-child(1) {
  margin-left: 58%;
}
.cartSection ul:nth-child(2) {
  margin-left: 50%;
  margin-top: 3%;
  background: #ece6e6;
  width: 38%;
  padding: 6%;
}

.cart {
  margin-left: 16%;
  margin-top: 3%;
}

.signup {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  padding: 1%;
}

.signuptext {
  width: 32%;
  margin: 1%;
  padding: 1%;
  margin-left: 8%;
}
.signuptext h2 {
  font-size: 24px;
  font-weight: 600;
  margin: 10% 0;
}
.signuptext p {
  font-size: 14px;
  font-weight: 400;
}

.signupForm {
  width: 30%;
  margin: 1%;
  padding: 1%;
}
.signupForm label {
  color: #777777;
}
.signupForm input {
  border: 0px;
  border-bottom: 1px solid #ece6e6;
  margin: 4% 0;
  width: 100%;
  font-size: 20px;
}
.signupForm input:focus {
  outline: 0;
  border-bottom: 2px solid #a1a1fc;
  -webkit-box-shadow: 0px 7px 14px -8px #706670;
  -moz-box-shadow: 0px 7px 14px -8px #706670;
  box-shadow: 0px 7px 14px -8px #706670;
}
.signupForm button {
  margin-top: 4%;
  width: 100%;
  background: #c44b62;
  color: white;
  border: 0px;
  padding: 4% 0%;
}

footer {
  background: #ece6e6;
}
footer .footer {
  margin-left: 10%;
  padding: 1% 0%;
  font-size: 16px;
}

/* Home*/
.mySlides {
  display: none;
}
.mySlides img {
  vertical-align: middle;
  width: 100%;
}

.carouselcontainer {
  margin: 2%;
  box-shadow: 0px 7px 7px -8px #706670;
  padding: 1%;
}
.carouselcontainer .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.carouselcontainer .prev, .carouselcontainer .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 2%;
  padding: 16px;
  margin-top: -22px;
  color: white;
  background: rgba(211, 210, 210, 0.5);
  font-weight: bold;
  font-size: 12px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.carouselcontainer .prev:hover, .carouselcontainer .next:hover {
  background-color: rgba(68, 67, 67, 0.8);
}
.carouselcontainer .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.carouselcontainer .dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 1s ease;
}
.carouselcontainer .dot:hover {
  background-color: #717171;
}
.carouselcontainer .active {
  background-color: #717171;
}
.carouselcontainer .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 300px) {
  .carouselcontainer .prev, .carouselcontainer .next, .carouselcontainer .text {
    font-size: 11px;
  }
}

.home {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  padding: 1%;
}

.category {
  display: flex;
  flex-direction: column;
  margin: 0 2%;
}
.category ul {
  display: flex;
  flex-direction: column;
  margin: 0 1%;
  padding: 0 1%;
}
.category ul :last-child {
  -webkit-box-shadow: 0px 7px 7px -8px #706670;
  -moz-box-shadow: 0px 7px 7px -8px #706670;
  box-shadow: 0px 0px 0px 0px #706670;
}
.category ul li {
  padding: 2%;
  -webkit-box-shadow: 0px 7px 7px -8px #706670;
  -moz-box-shadow: 0px 7px 7px -8px #706670;
  box-shadow: 0px 7px 7px -8px #706670;
}
.category ul li img {
  max-width: 100%;
  max-height: 100%;
}

.categorycontainer {
  display: flex;
  flex-direction: row;
}

.categoryimagecontainer {
  width: 33%;
}

.categorydescription {
  width: 67%;
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.categorydescription h2 {
  padding: 2%;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}
.categorydescription p {
  padding: 2%;
  text-align: center;
  font-size: 12px;
}
.categorydescription button {
  background: #c44b62;
  color: white;
  width: 30%;
  margin: 2% auto;
  border: 0;
  padding: 2%;
}

.odd {
  flex-direction: row;
}

.even {
  flex-direction: row-reverse;
}

/*Product list page*/
.plpContainer {
  margin-top: 0;
  padding: 0 1%;
}

.productcategory {
  background: #ece6e6;
  width: 20%;
  display: flex;
  flex-direction: column;
}
.productcategory ul {
  margin-left: 2%;
  display: flex;
  flex-direction: column;
}
.productcategory ul li {
  margin: 4% 0;
  padding: 4% 0;
  border-bottom: 1px solid #cac4c4;
}
.productcategory ul li a {
  margin-left: 10%;
  color: #777777;
}

.products {
  width: 78%;
  margin-left: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.products .productcard {
  display: flex;
  flex-direction: column;
  margin: 1% 0;
  padding: 1%;
  width: 23%;
  -webkit-box-shadow: 7px 0px 7px -8px #706670;
  -moz-box-shadow: 7px 0px 7px -8px #706670;
  box-shadow: 7px 0px 7px -8px #706670;
}
.products .productcard .producttitle {
  margin: 1% 0;
  padding: 1% 0;
  text-align: left;
  word-break: break-word;
  height: 45px;
}
.products .productcard .producttitle h2 {
  font-size: 17px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  padding: 1% 0;
}
.products .productcard .productdetail {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  padding-bottom: 2%;
  border-bottom: 1px dashed #cac4c4;
}
.products .productcard .productdetail .productimg {
  padding-top: 10%;
  background: white;
}
.products .productcard .productdetail .productimg img {
  max-width: 100%;
}
.products .productcard .productdetail .productdescription {
  display: flex;
  flex-direction: column;
  padding: 2% 2%;
}
.products .productcard .productdetail .productdescription .productdescriptiontext {
  background: #f3efef;
  padding: 4%;
}
.products .productcard .productdetail .productdescription .productdescriptiontext p {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 48px;
  font-size: 12px;
}
.products .productcard .productdetail .productdescription .productpriceandbuy {
  display: flex;
  flex-direction: row;
  margin-top: 10%;
  margin-left: 4%;
  align-items: baseline;
}
.products .productcard .productdetail .productdescription .productpriceandbuy p {
  font-size: 12px;
}
.products .productcard .productdetail .productdescription .productpriceandbuy button {
  margin-left: auto;
  width: 50%;
  padding: 3% 0;
  background: #c44b62;
  border: 0;
  color: white;
}

/*# sourceMappingURL=index.css.map */
