html {
            font-family: sans-serif;
        }

        body {
            margin: 50px auto;
            width: 640px;
        }

        header {
            background: azure;
            height: 60px;
        }

        h1 {
            font-size: 50px;
            text-align: right;
            border: 1px solid black;
            margin: 0 auto;
        }

        article {
            background-color: rgba(60, 222, 228, 0.829);
            margin: 2px;
            color: white;
            padding: 15px;
            border-radius: 3px;
            flex: 100px;
            text-align: center
        }

        section {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            border: 1px solid black;
        }