@import 'reset';

$themeColor: #c44b62;
$cartSectionColor: #ece6e6;
$shadowBoxBorderColor:  rgba(112,102,112,1);
$inputLabelColor: #777777;
$onfocusInputColor: rgb(161, 161, 252);

.container{
    width: 100%;
    margin: 0 auto;
}

.logoContainer{
    width: 20%;
    padding: 1%;
    margin-left: 11%;
}

.logoimage{
    max-width:74%;
    max-height:100%;
}

header{
    display: flex;
    flex-direction: row;
    -webkit-box-shadow: 0px 7px 14px -8px $shadowBoxBorderColor;
    -moz-box-shadow: 0px 7px 14px -8px $shadowBoxBorderColor;
    box-shadow: 0px 7px 14px -8px $shadowBoxBorderColor;
    nav{
        width: 78%;
        display: flex;
        flex-direction: row;
        margin-right: 11%;
        section{
            width: 50%;
            margin-top: 7%;
            padding-left: 10%;
            ul{
                display: flex;
                flex-direction: row;
                li{
                    margin: 1% 4%;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
    }
}

.cartSection{
    margin-top: 1%;
    ul:nth-child(1){
        margin-left: 58%;
    }
    ul:nth-child(2){
        margin-left: 50%;
        margin-top: 3%;
        background: $cartSectionColor;
        width: 38%;
        padding: 6%;
    }
}

.cart{
    margin-left: 16%;
    margin-top: 3%;
}

.signup{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    padding: 1%;
}

.signuptext{
    width: 32%;
    margin: 1%;
    padding: 1%;
    margin-left: 8%;
    h2{
        font-size: 24px;
        font-weight: 600;
        margin: 10% 0;
    }
    p{
        font-size: 14px;
        font-weight: 400;
    }
}

.signupForm{
    width:30%;
    margin: 1%;
    padding: 1%;
    label{
        color: $inputLabelColor;
    }
    input{
        border: 0px;
        border-bottom: 1px solid $cartSectionColor;
        margin: 4% 0;
        width: 100%;
        font-size: 20px;
        &:focus {
            outline: 0;
            border-bottom: 2px solid $onfocusInputColor;
            -webkit-box-shadow: 0px 7px 14px -8px $shadowBoxBorderColor;
            -moz-box-shadow: 0px 7px 14px -8px $shadowBoxBorderColor;
            box-shadow: 0px 7px 14px -8px $shadowBoxBorderColor;
          }
    }
    button{
        margin-top: 4%;
        width: 100%;
        background: $themeColor;
        color: white;
        border: 0px;
        padding: 4% 0%;
    }
}

footer{
    background: $cartSectionColor;
    .footer{
        margin-left: 10%;
        padding: 2% 0%;
        font-size: 16px;
    }
}

/* Home*/

.home{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1%;
}

.category{
    display: flex;
    flex-direction: column;
    margin: 2%;
    margin-bottom: 0;
    ul{
        display: flex;
        flex-direction: column;
        margin: 1%;
        padding: 1%;
        margin-bottom: 0;
        padding-bottom: 0;
        :last-child{
            -webkit-box-shadow: 0px 7px 7px -8px $shadowBoxBorderColor;
            -moz-box-shadow: 0px 7px 7px -8px $shadowBoxBorderColor;
            box-shadow: 0px 0px 0px 0px $shadowBoxBorderColor;
        }
        li{
            padding: 2%;
            -webkit-box-shadow: 0px 7px 7px -8px $shadowBoxBorderColor;
            -moz-box-shadow: 0px 7px 7px -8px $shadowBoxBorderColor;
            box-shadow: 0px 7px 7px -8px $shadowBoxBorderColor;
            img{
                max-width:100%;
                max-height:100%;
            }
    
    }
}

.categorycontainer {
    display: flex;
    flex-direction: row;
}

.categoryimagecontainer{
    width: 33%;
}

.categorydescription{
    width: 67%;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    h2{
        padding: 2%;
        text-align: center;
        font-weight: 600;
        font-size: 18px;
    }
    p{
        padding: 2%;
        text-align: center;
        font-size: 12px;
    }
    button{
        background: $themeColor;
        color: white;
        width: 30%;
        margin: 2% auto;
        border: 0;
        padding: 2%;
    }
}

.odd{
    flex-direction: row;
}

.even{
    flex-direction: row-reverse;
}